[alias]
	pom = push origin master
	po = push origin
	c = !git add -A && git commit -m
	rmc = !git reset --soft HEAD~1 && git reset HEAD
	s = status -s
	l = !git --no-pager log --pretty=oneline -n 20 --graph --abbrev-commit --decorate
	r = remote -v
	b = branch -a
	tags = tag -l
	puo = pull origin
	co = checkout
	d = diff --minimal

[color]
	ui = auto

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red

[color "branch"]
	current = red reverse
	local = cyan
	remote = yellow

[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -r

[user]
	name = Andreas Alanko
	email = andreas@aalanko.com
